* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'ZCOOL XiaoWei', serif;
    background: #b9dadf;
    text-align: center;
    font-style: italic;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
    box-shadow: 1px 1px 15px #000;
/*    background: #eee;*/
/*    display: grid;*/
}

h1 {
    text-align: center;
    padding: 20px 10px;
}
