* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'ZCOOL XiaoWei', serif;
    background: #b9dadf;
    text-align: center;
    font-style: italic;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
    box-shadow: 1px 1px 15px #000;
    /*    display: grid;*/
    grid-template-columns: 1fr 1fr;
}

.item1 {
    grid-column: span 2;
}

h1 {
    text-align: center;
    padding: 20px 10px;
    grid-column: span 2;
}
